#map-canvas {
  height: 500px;
  width:500px;
  margin: 10px;
  padding: 0px
}
#container{
  float:left;
}
#graph-container{
  float:left;
} 
.canvas-container{
  padding:20px;
  margin:30px;
}
#table-container{
	float:left;
}


.btn{
    margin: 15px;
    width: 20%;
    height: 100px;
    font-size: 30px!important;
    font-weight:bold!important;
    border:5px;
}