#container{
  float:left;
}
#graph-container{
  float:left;
} 
.canvas-container{
  padding:20px;
  margin:30px;
}
#table-container{
	float:left;
}


.btn{
    margin: 15px;
    width: 20%;
    height: 50px;
    font-size: 30px!important;
    font-weight:bold!important;
    border:5px;
}